<?xml version="1.0" encoding="utf-8"?>
<dashBoard>
  <section alias="xlsFileUpload">
    <areas>
      <area>xlsFileUpload</area>
    </areas>
    <tab caption="Dashboard">
      <control>
        /App_Plugins/XlsFileUpload/backoffice/views/dashboard.html
      </control>
    </tab>
    <tab caption="Uploads Reports">
      <control>
        /App_Plugins/XlsFileUpload/backoffice/views/ImportReport.html
      </control>
    </tab>
  </section>
</dashBoard>
