<?xml version="1.0"?>
<log4net>


  <logger name="fileUploadLog">
    <level value="ALL" />
    <appender-ref ref="FileUploadLogFileAppender" />
  </logger>

  <appender name="FileUploadLogFileAppender" type="log4net.Appender.FileAppender">
    <file type="log4net.Util.PatternString" value="App_Data\UploadedFiles\Logs\fileUpload-%utcdate{yyyy-MM-dd}.txt" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>
  
</log4net>
